@use "./base.scss";

// put your custom CSS here!

body {
  --titleFont: 'Corisande', 'Oxygen', sans-serif;
  --headerFont: 'Corisande', 'Oxygen', sans-serif;
  --bodyFont: 'Corisande', 'Oxygen', sans-serif;
}
@media (max-width: 800px) {
  .article-title {
    margin-top: 1rem;
  }
  .sidebar {
    .explorer-toggle.mobile-explorer {
      padding-left: 0;
    }
    .page-title {
      font-size: 1.4rem;
    }
  }
  .darkmode.mobile-only {
    text-align: right;
    padding-right: 0;
    width: auto;
  }
  .desktop-only {
    display: none !important;
  }
}
.popover {
  .breadcrumb-container {
    display: none;
  }
}
.search>.search-container>.search-space>.search-layout[data-preview]>.results-container:only-child {
  flex: 1;
}
@media (min-width: 801px) {
  .mobile-only {
      display: none !important;
  }
}